.jumbotron {
    /* background-image: url('assets/images/do_something_great_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: darkgrey;

}
.hearder {
    font-size: large;
}